/* Global Styles */

@import url("https://fonts.googleapis.com/css2?family=Permanent+Marker&display=swap");

* {
  box-sizing: border-box;
  font-family: "Permanent Marker", cursive;
  font-size: 1rem;
}

body {
  background-color: #f0f0f0;
  font-family: Arial, sans-serif;
}

/* Center the main content of the page */
.main {
  margin: 0 auto;
  max-width: 38em;
  padding: 20px;
}

/* Style the game section */
.main__game {
  background-color: #ffffff;
  border: 1px solid #dddddd;
  border-radius: 4px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  height: 35em;
  padding: 20px;
}

/* Style the grid cells */
.grid-cells {
  background-color: #f5f5f5;
  margin: 5px;
  border: 1px solid #0b0b0b;
  min-height: 10em;
  max-height: 10em;
  min-width: 10em;
  max-width: 10em;
}

.grid-text {
  display: flex;
  font-size: 8rem;
  justify-content: center;
}

/* Add hover styles to the grid cells */
.grid-cells:hover {
  background-color: #e0e0e0;
}

/* Style the tracker section */
.main__tracker {
  display: flex;
  justify-content: space-around;
  margin-top: 20px;
}

/* Style the tracker items */
.main__tracker-item {
  text-align: center;
}

/* Footer */
.site-footer {
  background-color: #333333;
  color: #ffffff;
  padding: 20px;
  text-align: center;
}
