/* Global Styles */

@import url("https://fonts.googleapis.com/css2?family=Permanent+Marker&display=swap");

* {
  box-sizing: border-box;
  font-family: "Permanent Marker", cursive;
  font-size: 1rem;
  letter-spacing: 1px;
}

body {
  font-family: Arial, sans-serif;
  background-image: url("assets/bg.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  color: rgba(56, 189, 242, 0.7);
  height: 100vh;
  width: 100%;
  margin: 0;
  display: flex;
  flex-direction: column;
}

/* Display Result Win or Lose Message */
.main__result {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 6vw;
  color: rgba(245, 134, 37, 0.8);
  width: 100%;
  height: 100%;
  display: none;
  z-index: 1;
  background-color: rgba(0, 0, 0, 0.5);
  text-align: center;
  padding-top: 20%;
}

/* Style the tracker section */
.main__tracker {
  display: flex;
  justify-content: space-around;
  position: relative;
  top: 0.7em;
  color: rgba(242, 41, 41, 0.7);
  font-size: 6vh;
  gap: 0.5em;
  height: 1em;
}

/* Style the tracker items */
.main__tracker-item {
  text-align: center;
}

/* Center the main content of the page */
.main {
  margin: 0 auto;
  flex: 1;
  max-width: 38em;
  padding: 20px;
}

/* Style the game section */
.main__game {
  border-radius: 4px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, 1fr);
  height: 65vh;
  width: 65vh;
  padding: 20px;
  background: transparent;
  position: relative;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

/* Style the grid cells */
.grid-cells {
  border: 0.5em solid rgba(93, 224, 32, 0.7);
  min-height: 10%;
  max-height: 100%;
  min-width: 10%;
  max-width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.grid-text {
  font-size: 8rem;
}

div.grid-cells[data-index="0"] {
  border-top: none;
  border-left: none;
}

div.grid-cells[data-index="1"] {
  border-top: none;
}

div.grid-cells[data-index="2"] {
  border-top: none;
  border-right: none;
}

div.grid-cells[data-index="3"] {
  border-left: none;
}

div.grid-cells[data-index="5"] {
  border-right: none;
}

div.grid-cells[data-index="6"] {
  border-left: none;
  border-bottom: none;
}

div.grid-cells[data-index="7"] {
  border-bottom: none;
}

div.grid-cells[data-index="8"] {
  border-right: none;
  border-bottom: none;
}

/* Game Modes */

.main__game-modes {
  position: relative;
  top: 14%;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: 1fr 1fr;
  gap: 10px;
}

button {
  color: #8041bf;
  background-color: transparent;
  padding: 0.1em;
  border: #c3b6f2 4px solid;
  border-radius: 20px;
  font-weight: bold;
  text-transform: uppercase;
}

button:hover {
  transform: scale(1.1);
  cursor: pointer;
}

.main__button--reset {
  grid-column: 2 / 3;
  grid-row: 2 / 3;
}

/* Footer */
.site-footer {
  background: transparent;
  color: #38bdf2;
  font-size: 1.3rem;
  text-align: center;
  font-family: "Permanent Marker", cursive;
  letter-spacing: 2px;
  margin: auto auto 0.7em;
}

@media only screen and (max-width: 1150px) {
  html,
  body {
    overflow: hidden;
    text-align: center;
  }

  .main__result {
    padding-top: 6em;
    font-size: 7.5vh;
    width: 100%;
  }

  .main__tracker {
    font-size: 7vh;
    margin-right: 1em;
  }

  .main__game {
    top: 50%;
    left: 50%;
    transform: translate(-54%, -50%);
    height: 45vh;
    width: 45vh;
  }

  .grid-text {
    font-size: 5rem;
  }

  .main {
    margin: 0 auto;
  }

  .main__game-modes {
    top: 28%;
    right: 4%;
  }
}

@media only screen and (max-width: 600px) {
  .main__tracker {
    font-size: 4vh;
    margin-right: 1em;
  }
}
